In [1]:
import pickle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

C:\Users\Dronz\Anaconda3\envs\tensorflow_env\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [3]:
%%time 
apr_15 = pd.read_csv('yellow_tripdata_2015-04.csv')
apr_15.head()

Wall time: 25.1 s

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-04-27 15:16:29,2015-04-27 15:26:14,1,1.05,-73.988869,40.758396,1,N,-73.984779,40.748272,2,7.5,0.0,0.5,0.00,0.0,0.3,8.30
1,2,2015-04-27 15:16:29,2015-04-27 15:25:03,1,2.67,-74.008568,40.704479,1,N,-73.978271,40.720543,1,10.5,0.0,0.5,1.00,0.0,0.3,12.30
2,2,2015-04-27 15:16:29,2015-04-27 15:31:48,1,2.89,-73.994118,40.756432,1,N,-73.993263,40.724442,1,12.5,0.0,0.5,3.32,0.0,0.3,16.62
3,2,2015-04-27 15:16:29,2015-04-27 15:25:26,1,0.94,-73.974388,40.761665,1,N,-73.985542,40.756168,2,7.5,0.0,0.5,0.00,0.0,0.3,8.30
4,2,2015-04-27 15:16:29,2015-04-27 15:45:38,1,2.30,-73.972183,40.762726,1,N,-73.990845,40.750671,2,17.5,0.0,0.5,0.00,0.0,0.3,18.30